body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
}

.formulario {

    border: 2px solid green;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

input {
    width: 80%;
    height: 3rem;
    margin: 2px;
    border: 1px solid gray;
    border-radius: 5px;
}

button {
    background-color: darkgreen;
    border-radius: 5px;
    color: white;
    width: 80%;
    height: 3rem;
    margin: 2px;
    margin-top: 20px;
    margin-bottom: 15px;

}

