@import url("temas-colores-fuentes.css");

body {
    font-family: 'Space Grotesk';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90fr;
}

h1 {
    text-align: center;
}

.formulario {

    border: 2px solid var(--dark-color-acento-2);
    width: 50%;
    padding: 10px;
}

input {
    width: 80%;
    height: 30px;
    margin: 2px;
    border: 1px solid var(--light-color-texto);
    border-radius: 5px;

}

button {
    background-color: var(--dark-color-acento-2);
    border-radius: 5px;
    color: white;
    width: 80%;
    height: 3rem;
    margin: 2px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.boton {
text-align: center;
}

.grupo-formulario {
    display: flex;
    flex-direction: column;
}

.form-contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;


}